<?php 

$url = isset($_GET['url']) ? $_GET['url'] : 0;

if ($url == 123){?>	

<table class="verde"  cellspacing=20 style="background-color:rgb(255, 255, 255, 0.4);">
 
	<form class="form-horizontal" method="POST" action="index.php?op=a1&url=123" enctype="multipart/form-data" autocomplete="off">
				<div align="Center">
					<tr><th><h2>INGRESE FICHA DE LA FORMACION</h2></th></tr>
					
					<tr><th align="center"> <input id="ficha" type="number" class="form-control" name="ficha_trans" value="" placeholder="Numero de la Ficha " required></tr></th>
					 
					<tr><th colspan=7><a><center><input type="submit" class="btn btn-success" name="actualizar" value="BUSCAR"></center></a></th></tr>
				
				</div>
	</form>
</table>

<?php
}
if  ($url != 123){
	echo "Error Intruso";
}								
?>
	