<table class="verde" cellspacing=10 style="background-color:rgb(255, 255, 255, 0.4);">  
	<form class="form-horizontal" method="POST" action="../controlador/asignar_tra.php" enctype="multipart/form-data" autocomplete="off">
			<tr><th colspan=7><center>ASIGNAR TRANVERSAL</center></th></tr>	
			<tr><td align="center">Numero De Ficha</td>
			<td	align="left" colspan=6><input  type="number" class="form-control" name="ficha_a" placeholder="Numero de Ficha" required>	</td></tr>
			<tr><td> Codigo de transversal</td>
        <td><select name="cod_trans" id="cod_trans" class="form-control">
          <option value="">-Seleccione-</option>
				<?php
    require '../controlador/conexion.php';
    $RSInv=$mysqli->query("SELECT * FROM trasversal ");
        
      while($vInv=mysqli_fetch_assoc($RSInv)){
    ?>
    <option value="<?php echo $vInv['cod_tras']; ?>"><?php echo $vInv['nombre_trasversal']; ?></option>
     <?php
    }
     ?>	
	</select></td></tr>
	<tr><td align="center"> <SIZE=6> Horario De Transversal</SIZE=6></td>
			<td	align="left" colspan=6><input  type="varchar" class="form-control" name="horario" placeholder="Horario " required></td></tr>
				<tr><td align="center"><SIZE=6>Codigo de Ambiente</SIZE=6></td>
				
        <td><select name="cod_ambiente" id="cod_ambiente" class="form-control">
          <?php
    require '../controlador/conexion.php';
    $RSInv=$mysqli->query("SELECT * FROM ambiente ");
       while($vInv=mysqli_fetch_array($RSInv)){
    ?>
    <option value="<?php echo $vInv['cod_ambiente']; ?>"><?php echo $vInv['cod_ambiente'], " - ", $vInv['tipo']; ?></option>
     <?php
    }
     ?>	
	</select></td></tr>
	<tr><td align="center"><SIZE=6>Codigo de Instructor</SIZE=6></td>
	 <td><select name="cod_ins" id="cod_ins" class="form-control">
    			<?php
        $t="transversal";
        $e="disponible";
    require '../controlador/conexion.php';
    
    $RSInv=$mysqli->query("SELECT * FROM instructor WHERE cargo='$t' and manana='$e' or tarde='$e' or noche='$e' ");
     while($vInv=mysqli_fetch_array($RSInv)){
    ?>
    <option value="<?php echo $vInv['cedula']; ?>"><?php echo $vInv['cedula'], " - ", $vInv['nombre']; ?></option>
     <?php
    }
     ?>	
	</select></td></tr>
	<tr><td align="center"> <SIZE=6> Fecha de Inicio de Transversal</td>
			<td	align="left" colspan=6><input  type="date" class="form-control" name="fecha_inicio" placeholder="Fecha de Inicio" required>	</td></tr>
				<tr><td align="center"> <SIZE=6> Fecha Fin de Transversal</td>
			<td colspan=6><center><input  type="date" class="form-control" name="fecha_fin" placeholder=" Fecha Fin " required></center></td></tr>
			<div align="Right">
			<tr><th colspan=7><center><input type="submit" class="btn btn-success" name="transversal" value="ASIGNAR"></center></th></tr>
</table>