	<table class="verde"  cellspacing=20 style="background-color:rgb(255, 255, 255, 0.4);">
 
	<form name="consul_ins.php" action="../vista/index.php?op=contran1&url=123" method="POST" enctype="multipart/form-data" autocomplete="off">

					<tr><th><h2>INGRESE FICHA DE LA FORMACION</h2></tr></th>
					
					<tr><th align="center"> <input type="number" class="form-control" name="ficha_aa" value="" placeholder="Ficha de Formacion" required></tr></th>
					 
					<tr><td><center><input type="submit" class="btn btn-success" value="Consultar" class="btn btn-success" name="consultar"></center></form></td></tr>

				</div>
	
</table>			
