<form class="form-horizontal" method="POST" action="../controlador/men_trans.php" >
	<table  cellspacing=20 border="0" style="background-color:rgb(255, 255, 255, 0.4);">
		<tr><th colspan=7><center>REGISTRAR TRANVERSAL</center></th></tr>			
		<tr><td align="center"> <SIZE=6> Nombre</td>
			<td	align="center" colspan=6><input id="nom" type="text" class="form-control" name="nom" value="" placeholder="nombre" required> </td></tr>
			<tr><td align="center"> <SIZE=6>color</td>
			<td align="center" colspan=6><select name="color"  class="form-control"required>
			<option value="">-Seleccione uno-</option>
  			<option style="color:#CA6466;" value="#CA6466">palo rosa</option>
  			<option style="color:#9548AC;" value="#9548AC">morado</option>	
			<option style="color:#FF63DE;" value="#FF63DE">rosado</option>
  			<option style="color:#FF6378;" value="#FF6378">turquesa</option>	
  			<option style="color:#50ADB5;" value="#50ADB5">azul oscuro</option>
  			<option style="color:#FF1419;" value="#FF1419">rojo</option>	
  			<option style="color:#47AB46;" value="#47AB46">verde</option>	
  			</select></td></tr>
		<tr><th colspan=7 align="center"><center><input id="btn-login" type="submit" name="transversal" value="REGISTRAR" class="btn btn-success"></center></th></tr>		
	</table>
</form>