<head>
				<?php
    require '../controlador/conexion.php';
     ?>	
	
	<script language="javascript" src="../controlador/combobox/jquery-3.3.1.min.js"></script>
	<script language="javascript">
			$(document).ready(function(){
				$("#cod_municipio").change(function () {
 
					$('#amb_for').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');

					$('#sede').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');

					$('#jornada').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');
					
					$('#inst').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');

					$("#cod_municipio option:selected").each(function () {
						cod_municipio = $(this).val();
						$.post("../controlador/includes/combosede.php", { cod_municipio: cod_municipio }, function(data){
							$("#sede").html(data);
						});            
					});
				})
			});
			$(document).ready(function(){
					$('#amb_for').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');

					$('#jornada').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');
					
					$('#inst').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');

				$("#sede").change(function () {
					$("#sede option:selected").each(function () {
						cod_sede = $(this).val();
						$.post("../controlador/includes/comboambiente.php", { cod_sede: cod_sede }, function(data){
							$("#amb_for").html(data);
						});            
					});
				})
			});
			$(document).ready(function(){


					$('#jornada').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');
					
					$('#inst').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');


				$("#amb_for").change(function () {
					$("#amb_for option:selected").each(function () {
						amb_for = $(this).val();
						$.post("../controlador/includes/combojornada.php", { amb_for: amb_for }, function(data){
							$("#jornada").html(data);
						});            
					});
				})
			});

			$(document).ready(function(){
				
					$('#inst').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');

				$("#jornada").change(function () {
					$("#jornada option:selected").each(function () {
						jornada = $(this).val();
						$.post("../controlador/includes/comboinstructor.php", { jornada: jornada }, function(data){
							$("#inst").html(data);
						});            
					});
				})
			});
		</script>
		<script language="JavaScript"> 
			<!-- 
			var nav4 = window.Event ? true : false; 
			function acceptNum(evt){  
			// NOTE: Backspace = 8, Enter = 13, '0' = 48, '9' = 57  
			var key = nav4 ? evt.which : evt.keyCode;  
			return (key <= 13 || (key >= 48 && key <= 57|| key==46)); 
			} 
			//--> 
		</script> 
</head>
<table class="verde" cellspacing=2 style="background-color:rgb(255, 255, 255, 0.4);">  
	<form class="form-horizontal" method="POST" action="../controlador/formacion2.php" enctype="multipart/form-data" autocomplete="off" target="_self">			
			<div align="center">	
			<tr><td align="center"><SIZE=6> Codigo De Ficha</SIZE=6></td>
			<td	align="center" colspan=6><input id="cod_f" type="number" class="form-control" name="cod_f" placeholder="codigo de ficha" required></td>
	<td align="center">Municipio</td>
			<td><select name="cod_municipio" id="cod_municipio" class="form-control">
			<option value="">-Seleccione uno-</option>
				<?php
    $RSInv=$mysqli->query("SELECT * FROM municipio");
      while($vInv=mysqli_fetch_array($RSInv)){
    ?>
    <option value="<?php echo $vInv['cod_municipio']; ?>"><?php echo $vInv['nombre_municipio']; }?></option>
</select></td></tr>
    	 	
<tr><td align="center"><SIZE=6> Nombre del Programa</SIZE=6></td>
			<td	align="center" colspan=6><input id="n_pro" type="varchar" class="form-control" name="n_pro" placeholder="nombre del programa" required></td>
			<td align="center">Sede</td>
		 	<td colspan="6"><select name="sede" id="sede" class="form-control"></select></td>
			</tr>
  			<tr><td align="center"><SIZE=6>Codigo del Programa</SIZE=6></td>
			<td	align="center" colspan=6><input id="cod_pro" type="number" class="form-control" name="cod_pro" value="" placeholder="codigo del programa" required></td>
			<td>ambiente de formacion</td>
		 	<td colspan="6"><select name="amb_for" id="amb_for" class="form-control"></select></td>
			</tr>
			<tr><td><SIZE=6>Codigo del Proyecto</SIZE=6></td>
			<td	align="center" colspan=6><input id="cod_proye" type="number" class="form-control" name="cod_proye" placeholder="codigo del proyecto" required></td>			
			<td align="center">Jornada</td>
		 	<td colspan="6"><select name="jornada" id="jornada" class="form-control"></select></td></tr>
			<tr>
			<td align="center"><SIZE=6>Apredices Activos</SIZE=6></td>
			<td	align="center" colspan=6><input id="apren_a " min="15" max="40" type="number" class="form-control" name="apren_a" placeholder="aprendices activos" ></td>
			<td align="center">Instructor</td>
		 	<td colspan="6"><select name="inst" id="inst" class="form-control"></select></td></tr>
			<tr><td align="center"><SIZE=6> Version del Programa</SIZE=6></td>
			<td	align="center" colspan=6><input id="ver_pro" type="number" class="form-control" name="ver_pro" placeholder="version del programa" step="any" onKeyPress="return acceptNum(event)" required></td>
			<td align="center"> <SIZE=6> Fecha de Inicio</SIZE=6></td>
			<td	align="center" colspan=6><input id="f_inicio" type="date" class="form-control" name="f_inicio" value="" placeholder="fecha de inicio" required></td></tr>
     		<tr>
			<tr><td align="center"><SIZE=6>Nivel de formacion</SIZE=6></td>
			<td align="center" colspan=6><select name="nivel_f"  class="form-control"required>
			<option value="">-Seleccione uno-</option>
  			<option value="1">Tecnico</option>
  			<option value="2">Tecnologo</option>	</select></td>
  			<td align="center"> <SIZE=6> Fecha Fin Etapa Lectiva</SIZE=6></td>
			<td	align="center" colspan=6><input id="fin_lec" type="date" class="form-control" name="fin_lec" placeholder="fecha fin de etapa lectiva" required></td></tr>
			<tr><td align="center"> <SIZE=6> Oferta</SIZE=6></td>
			<td align="center" colspan=6><select name="oferta"  class="form-control"required >
			<option value="">-Seleccione uno-</option>
  			<option value="1">1</option>
  			<option value="2">2</option>
  			<option value="3">3</option>
  			<option value="4">4</option>
  			</select></td>
  			<td align="center"> <SIZE=6> Fecha Final</SIZE=6></td>
			<td	align="center" colspan=6><input id="fecha_fin" type="date" class="form-control" name="fecha_fin" placeholder="fecha final" required>	</td></tr>
		<tr><td align="center"><SIZE=6>Aprendiz Lider</SIZE=6></td>
			<td	align="center" colspan=6><input id="apren_l" type="text" class="form-control" name="apren_l" value="" placeholder="aprendiz lider"></td>
			<td align="center"><SIZE=6> Visita</SIZE=6></td>
			<td	align="center" colspan=6><input id="visita_f" type="date" class="form-control" name="visita_f" placeholder="visita" ></td></tr>
			<tr><td align="center"><SIZE=6>Telefono Aprendiz Lider</SIZE=6></td>
			<td	align="center" colspan=6><input id="tel_l" type="number" class="form-control" name="tel_l" value="null" placeholder="telefono aprendiz lider"></td>
			</tr>
</div>
<tr><th colspan=12><a><center><input type="submit" class="btn btn-success" name="registrar_forma" value="REGISTRAR"></center></a></th></tr>
				</td></form></table>