<table class="verde" cellspacing=10 style="background-color:rgb(255, 255, 255, 0.4);"> 
	<form  method="POST" action="../controlador/regis_sede_1.php" enctype="multipart/form-data" autocomplete="off">
			<div align="Center">	
			<tr><th colspan=7 align="center"><center>REGISTRAR SEDE</center></th></tr>		
			<tr><td align="center"><SIZE=6>Nombre</SIZE=6></td>
			<td	align="center" colspan=6><input id="nombre_se" type="text" class="form-control" name="nombre_se" placeholder="nombre" required></td></tr>	
				
			<tr><td align="center">municipio</td>
			<td><select name="municipio" id="municipio" class="form-control" required="">
			<option value="">-Seleccione uno-</option>
				<?php
    require '../controlador/conexion.php';
    $RSInv=$mysqli->query("SELECT * FROM municipio ");
    
      while($vInv=mysqli_fetch_assoc($RSInv)){
    ?>
    <option value="<?php echo $vInv['cod_municipio']; ?>"><?php echo $vInv['cod_municipio'], " - ", $vInv['nombre_municipio']; ?></option>
     <?php
    }
     ?>	
	</select></td></tr>
				<td align="center"> <SIZE=6> Direccion</SIZE=6></td>
				<td	align="center" colspan=6><input id="direccion_se" type="varchar" class="form-control" name="direccion_se" placeholder="direccion" required>	</td></tr>
		<tr><td align="center"><SIZE=6>Apoyo Sede</SIZE=6></td>
			<td	align="center" colspan=6><input id="apoyo_se" type="text" class="form-control" name="apoyo_se" placeholder="apoyo sede" ></td></tr>
			<tr><td align="center"> <SIZE=6> Telefono</SIZE=6></td>
				<td	align="center" colspan=6><input id="telefono_se" type="int" class="form-control" name="telefono_se" placeholder="telefono" ></td></tr>
				
			<tr><td align="center"> <SIZE=6>descripcion de sede</SIZE=6></td>
			<td	align="center" colspan=6><input id="descripcion" type="text" class="form-control" name="descripcion" value="" placeholder="descripcion de sede" ></td></tr>
			
				<tr><th colspan=12><a><center><button id="btn-login" type="submit" name="registrar_sede" href="../controlador/regis_sede_1.php" class="btn btn-success">REGISTRAR</button></center></a></th></tr></div></form>
</table>