<?php require '../controlador/conexion.php'; ?>
<head>
	<script language="javascript" src="../controlador/combobox/jquery-3.3.1.min.js"></script>
	<script language="javascript">
			$(document).ready(function(){
				$("#cod_municipio").change(function () {
 
					$('#amb_for').find('option').remove().end().append('<option value="whatever"></option>').val('whatever');
					
					$("#cod_municipio option:selected").each(function () {
						cod_municipio = $(this).val();
						$.post("../controlador/includes/combosede.php", { cod_municipio: cod_municipio }, function(data){
							$("#sede").html(data);
						});            
					});
				})
			});
			
		</script>
</head>
<table class="verde" cellspacing=10 style="background-color:rgb(255, 255, 255, 0.4);">  
	<form name="regis_ambiente.html" method="POST" action="../controlador/ambiente2.php">			
			<div align="Center">	
			<tr><th colspan=7><center>REGISTRAR AMBIENTE</center></th></tr>	
			<tr><td align="center">Municipio</td>
			<td><select name="cod_municipio" id="cod_municipio" class="form-control">
			<option value="">-Seleccione uno-</option>
			    			<?php
   $result = mysqli_connect("localhost","root","");
mysqli_select_db($result,"coordinacion");
$query=mysqli_query($mysqli, "SELECT * FROM sede");
$cantidad=mysqli_num_rows($query);
while($rowb=mysqli_fetch_array($query)){
extract($rowb);
$s=$rowb['cod_municipio'];
    require '../controlador/conexion.php';
   
    $RSInv=$mysqli->query("SELECT * FROM  municipio where cod_municipio='$s'");	
      while($vInv=mysqli_fetch_assoc($RSInv)){
    ?>
    <option value="<?php echo $vInv['cod_municipio']; ?>"><?php echo $vInv['cod_municipio'], " - ", $vInv['nombre_municipio']; ?></option>
     <?php
    }
    }
     ?>	
	</select></td>
		 	</tr>
			<tr>
				<td align="center">Sede</td>
		 	<td colspan="6"><select name="sede" id="sede" class="form-control"></select></td>
			</tr>
			<tr><td align="center"> <SIZE=6>Nombre del Ambiente</SIZE></td>
			<td	align="center" colspan=6><input id="ambiente" type="text" class="form-control" name="ambiente" value="" placeholder="Nombre de ambiente" required></td></tr>
			<tr><td align="center"> <SIZE=6> Tipo De Ambiente</SIZE></td>
			<td	align="center" colspan=6><input id="tipo_ambiente" type="text" class="form-control" name="tipo_ambiente" placeholder="tipo" required>	</td></tr>
			

			<tr><th colspan=7><a><center><input type="submit" class="btn btn-success" name="registrar_amb" value="REGISTRAR"></center></a></th></tr>
			</div>
</form>
</table>