<?php
	date_default_timezone_set('America/Bogota'); 
	$fecha_Actual=date("Y-m-d");
	$fecha_fin=date("Y-m-d", strtotime("$fecha_Actual + 1 day"));
	?>
<table class="verde" cellspacing=2 border="0" style="background-color:rgb(255, 255, 255, 0.4);">  
	<form class="form-horizontal" method="POST" action="../controlador/regis_ins_g.php" enctype="multipart/form-data" autocomplete="off">		
			<div align="Center">
			<tr><td height="20px"></td></tr>	
			<tr><th  colspan=12><center>REGISTRAR INSTRUCTOR</center></th></tr>
			<tr><td height="20px"></td></tr>
			<tr><td align="right"> <SIZE=6>Municipio</SIZE=6></td>
			<td	align="right" colspan=6>
				<select name="municipio" class="form-control">
				<?php
    require '../controlador/conexion.php';
    $RSInv=$mysqli->query("SELECT * FROM municipio ");
        
      while($vInv=mysqli_fetch_assoc($RSInv)){
    ?>
    <option value="<?php echo $vInv['cod_municipio']; ?>"><?php echo $vInv['nombre_municipio']; ?></option>
     <?php
    }
     ?>	
	</select></td>
	<td align="right"><SIZE=6> Documento:</SIZE=6></td>
			<td	align="center" colspan=6><input id="documento" type="number" class="form-control" name="documento" value="" placeholder="documento" required></td></tr>
			<tr><td align="right"> <SIZE=6> Nombre:</SIZE=6></td>
			<td	align="center" colspan=6><input id="nombre" type="text" class="form-control" name="nombre" placeholder="nombre" required></td>
			<td align="right"> <SIZE=6>Apellido:</td>
			<td	align="center" colspan=6>	<input id="apellido" 	type="text" class="form-control" name="apellido" value="" placeholder="apellido" required></td>  </tr>   	
			<tr><td align="right"> <SIZE=6>Direccion:</td>
			<td	align="center" colspan=6><input id="direccion" type="varchar" class="form-control" name="direccion" value="" placeholder="direccion" required></td>
			<td align="right"><SIZE=6>Telefono:</SIZE=6></td>
			<td	align="center" colspan=6><input id="telefono" type="number" class="form-control" name="telefono" value="" placeholder="telefono" required></td></tr>
			<tr><td align="right"><SIZE=6>Correo:</SIZE=6></td>
			<td	align="center" colspan=6>	<input id="correo" type="email" class="form-control" name="correo" value="" placeholder="correo" required>  </td>
			<td align="right"><SIZE=6>Tipo de Contrato:</td>
			<td align="center" colspan=6><select name="tipo" class="form-control">
  			<option value="1">Planta</option>
  			<option value="2">Contratista</option>
			</select></td>
			</tr>
			<tr><td align="right"><SIZE=6>Cargo:</td>
			<td align="center" colspan=6><select name="cargo" class="form-control">
  			<option value="1">Lider</option>
  			<option value="2">Transversal</option>
			</select></td>
			<td align="right"> <SIZE=6>Perfil Profesional:</td>
			<td	align="center" colspan=6><input id="perfil" type="text" class="form-control" name="perfil" value="" placeholder="Perfil Profesional" required></td></tr>

			<tr><td align="right"> <SIZE=6>Fecha de Inicio:</td>
			<td	align="center" colspan=6>
				<?php echo "<input id='ini' type='date' value='$fecha_Actual' class='form-control' name='ini' placeholder='fecha inicio' required>
				";?> </td>
			<td align="right" > <SIZE=6>Fecha final </td>
			<td align="center" colspan=6>
				<?php echo "<input class='form-control' type='date' required='' min=".$fecha_Actual." name='fin'>";?>
			</td></tr>
				<center>
				<div align="center">
					<tr><th colspan=12><a><center><button id="btn-login" type="submit" name="ingresar" href="regis_ins_g.php" class="btn btn-success">REGISTRAR</button></center></a></th></tr>
			<tr><td height="20px"></td></tr>
	</div></center>
	</table>								
