body{
	margin: 0;
  	padding: 0;
  	background-color: #E4FEF7;
	background-image: url(../../img/fondo1.jpg);
	background-size: cover;
	font-family: sans-serif;
  	height: 100vh;
}
div.container{
	align-content: center;
	text-align: center;
	width: 100%;
}

#logo{
	width: 45px;
	height: 45px;
}

a.list-group-item{
	font-family: Times New Roman ;
	background-color: #F8ECE0;
}
nav.navbar{
	font-family: arial;
}

div.modal-header{
	background-color: #FE9A2E;
	color: white;
}
.modal-body{
	text-align: justify;
	background-image: url(../img/azul.png);
	background-size: cover;
	font-family: arial,verdana;
	font-style: italic;
}
#logop,#logop2,#logop3,#logop4,#logop5,#logop6{
	width: 45px;
	height: 45px;
}
thead{
	background-color: #04B404;
}
#tablarubros{
	text-align: center;

}

.table-success{
	text-align: center;
	font-family: arial,verdana;
	font-style: italic;
	border: 5px;

}
.a{
	text-align: justify;
}
.SMART{
	width: 460px;
	height: 280px;
}
img.glo{
	width: 468px;
	height: 280px;
}
